@tailwind base;
@tailwind components;
@tailwind utilities;



#danger {
    color: red;
}

#inpt {
    border: none; 
    border-bottom: 1px solid black; 
    outline: none; 
   
}

/*toogle menu*/

@media only screen and (max-width: 768px) {
   

    #show {
        display: block;
    }

    #hide {
        display: none; 
    }
  }

  @media only screen and (min-width: 768px) {
   

    #show {
        display: none; 
    }

    #hide {
        display: none; 
    }
  }